.result-slot{
    width: 40vw;
    height: 4vh;
    padding: 0.2em;
    margin:0%;
    border-radius: 5%;
    font-size: 1.5em;
    font-family:'Aptos Semibold', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.results{
    box-shadow: 0px 8px 10px gray, 
        -10px 8px 15px gray, 10px 8px 15px gray;
    width: 42vw;
    height: 24vh;
    padding: 0em;
    border: solid black .1em;
    margin:0%;
    border-radius: 0.5em;
    position: absolute;
    left: 3.9%;
    top: 6vh;
    overflow-y: scroll;
}

.search-bar{
    width: 50vw;
}

.input-bar{
    width: 49.8vw;
    height: 5vh;
    font-size: 1.5em;
    font-family:'Aptos Semibold', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 2em;
    padding-left: 1em;
    display:flex;
}

.main-bar{
    width: 40.8vw;
    height: 5vh;
    font-size: 1.5em;
    font-family:'Aptos Semibold', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 2em;
    padding-left: 1em;
}

.submit{
    position: absolute;
    left: 47.5em;
    height: 5.7vh;
    width: 5.7vh;
    border-radius: 100%;

}

.result-slot:hover{
    background-color: lightgrey;
}